<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Персональная страница</title>
</head>
<body>
  <h1> Котофей Мурзилка </h1>
  <img src="static/cat.jpg" height="200" /><br>
  <div class="main">
    <p>Привет, я <strong>плюшевый пряник</strong>. И это моя страничка.</p>
<p>На ней я буду публиковать свои <del>стихи</del> и рассказы.
Ещё <a href="https://srisovki.one/zhivotnye/risunki-kotikov-dlya-srisovki-70-foto">
      ТУТ </a> можно будет найти рисунки которые иногда делаю.
Сразу скажу, рисунки <em>так себе</em>, <mark>потому что у меня лапки</mark>.
<img src="/static/cat_pow.jpg" width="30"><img src="/static/cat_pow.jpg" width="30"></p>
<p>Я люблю ссаться в свой лоток.
  А еще мне нравится драть когтями корзину с бельем.
Больше всего мне нравится лизать свои меховые шарики.
И когда шерсти накопится достаточно, я её отрыгиваю.
Чтобы прислуге было чем заняться.</p>
</div>


<div class="menu">
    <p><a href="/search_by_name">Поиск по имени</a></p>
    <p><a href="/search_by_skill">Поиск по навыку</a></p>
</div>

</body>
</html>