<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app.js" type="text/javascript"></script>
</head>
<body>
    <h1> Привет, {{name}}</h1>
    <form action="http://httpbin.org/get">
        <input type="text" name="phone"><br>
        <input type="password" name="pass" value="12345"><br>
        <input type="checkbox" name="subscribe" ><br>
        <input type="checkbox" name="subscribe" ><br>
        <input type="radio" name="control" value="1"><br>
        <input type="radio" name="control" value="2"><br>
        <textarea name="aboutme">
            Какой-то текст
        </textarea>
        <input type="submit">
    </form>
</body>
</html>