<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidate</title>
</head>
<body>
    <p><a href="/">Домой</a></p>
    <p><a href="/all_candidates">Список всех кандидатов</a></p>
    <p><a href="/search/<candidate_name>">Поиск по имени</a></p>
    <p><a href="/skill/<skill_name>">Поиск по навыку</a></p>
  <hr>
    {% if 'not_found' in candidate.keys() %}
      <h1> {{ candidate.not_found }}</h1>
    {% else %}
      <h1>{{ candidate.name }}</h1>
      <p>{{ candidate.position }}</p>
      <img src="{{candidate.picture}}">
      <p>{{ candidate.skills }}</p>
    {% endif %}
</body>
</html>