<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>skill</title>
</head>
<body>
<div class="a_buttons cls_left"></div>
    <p><a href="/">Домой</a></p>
    <p><a href="/all_candidates">Список всех кандидатов</a></p>
    <p><a href="/search/<candidate_name>">Поиск по имени</a></p>
    <p><a href="/skill/<skill_name>">Поиск по навыку</a></p>

    <h3>Укажите в адресе после skill/ необходимый навык. <br> Например:  /skill/basic</h3>
    {% if candidates|length > 0 %}
        <div class="found_list">
            <h2> Найдено со скилом {{ skill }}: {{ candidates_len }}</h2>
            {% for candidate in candidates %}
            <div class="a_ordinary">
                <a href="/candidate/{{ candidate.id }}"> {{ candidate.name }}</a>
            </div>
            <div class="skill-text">
                <p>Навыки: {{ candidate.skills }}</p>
            </div> <br>
            {% endfor %}
        </div>
    {% else %}
        <h1>Кандидатов нет</h1>
    {% endif %}


</body>
</html>